body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin: auto;
  height: 100%;
  width: 60%;
  font-family: 'NA Sans', serif;
}

h1 {
  font-weight: bold;
}

div {
  display: flex;
  flex-direction: row;
}

div a {
  margin-right: 1rem;
  text-decoration: none;
}

p {
  margin: 4rem 0 2rem;
}

a {
  color: crimson;
  transition: 0.2s linear all;
  padding: 6px 12px;
  border-radius: 8px;
  margin-left: -12px;
}

a:hover {
  background-color: #ffc0cb47;
}

a {
  color: crimson;
}
